.blog-post{
  border: 1px solid var(--main-color);
  background-color: var(--main-color-highlight);
  padding: var(--spacing-sm);
  border-radius: 5px;
  margin-bottom: 3px
}

.tag{
  display: inline-block;
  border: 1px solid var(--link-color);
  padding: 2px 6px;
  border-radius: 3px;
  font-size: 0.75em;
  margin-right: 1px;
  margin-top: 5px;
}