.timeline {
  position: relative;
  padding-left: 30px;
  border-left: 1px solid var(--main-color);
  font-size: 0.8em;
}

.timeline-item {
  position: relative;
  margin-bottom: 20px;
  border-radius: 5px;
}

.timeline-item-professional {
  border: 1px solid var(--main-color);
  background-color: var(--main-color-highlight);
}

.timeline-dot {
  position: absolute;
  left: -39px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--main-color);
  border: 1px solid var(--background-color);
}

.timeline-content {
  padding-left: 10px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-md);
  font-size: 0.8em;
}

.project-card {
  border: 1px solid var(--main-color);
  background-color: var(--main-color-highlight);
  border-radius: 5px;
  padding: var(--spacing-md);
  display: flex;
  flex-direction: column;
}

.project-card-body {
  flex: 1;
}

.project-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--spacing-md);
}

@media (max-width: 600px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
}