.cover-image {
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: center 30%;
  border-radius: var(--radius-md);
  margin-bottom: var(--spacing-md);
}

.author-info {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-md);
}

.author-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: var(--spacing-sm);
}